{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["no-smart-quotes", "@typescript-eslint"],
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-smart-quotes/no-smart-quotes": "error"
  }
}
